<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="blog" translate="label" type="text" sortOrder="50"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Blog</label>
            <tab>general</tab>
            <resource>Common_Blog::blog</resource>
            <group id="general" translate="label" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="route_name" translate="label comment" type="text" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Front-end Route Name</label>
                    <validate>required-entry</validate>
                </field>
                <field id="tag_route_name" translate="label comment" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Front-end Route Name of tag</label>
                    <validate>required-entry</validate>
                </field>
                <field id="date_time_format" translate="label comment" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Date Time Format</label>
                    <validate>required-entry</validate>
                </field>
                <field id="page_size" translate="label comment" type="text" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Posts per Page</label>
                    <validate>required-entry digits</validate>
                </field>
                <field id="allow_guest_reply" translate="label comment" type="select" sortOrder="50"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allow Guest Reply</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="auto_approve_reply" translate="label comment" type="select" sortOrder="60"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Auto Approve Reply</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
